@define-color color_bg #2b2b2b;
@define-color color_fg #bbbbbb;
@define-color color_hl #cc7832;
@define-color color_lt #323232;

* {
    border: none;
    border-radius: 0;
    font-family: JetBrains Mono;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

window > box {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    background: @color_bg;
    padding: 2px;
}

#workspaces button {
    padding: 0 5px;
    margin-right: 5px;
    color: @color_fg;
    background: @color_lt;
}

#workspaces button.active {
    color: @color_bg;
    background: @color_hl;
}

#workspaces button.urgent {
    color: @color_bg;
    background: @color_fg;
}

#window {
    color: @color_hl;
}

#cpu,
#memory,
#clock
{
    padding: 0 10px;
    margin-left: 5px;
    color: @color_fg;
    background: @color_lt;
}

#clock.time {
    color: @color_bg;
    background: @color_hl;
}

