@define-color color_bg #222222;
@define-color color_fg #c2c2b0;
@define-color color_hl #c9a554;
@define-color color_lt #323232;

* {
    border: none;
    border-radius: 2;
    font-family: JetBrains Mono;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

window > box {
    margin-top: 16px;
    margin-left: 64px;
    margin-right: 64px;
    background: @color_bg;
    padding: 2px;
}

#workspaces button:hover {
    text-shadow: none;
    box-shadow: none;
    background: none;
    transition: none;
}

#workspaces button {
    padding: 0 4px;
    margin-right: 4px;
    color: @color_fg;
    background: @color_lt;
}

#workspaces button.active {
    color: @color_bg;
    background: @color_hl;
}

#workspaces button.urgent {
    color: @color_bg;
    background: @color_fg;
}

#window {
    color: @color_hl;
}

#cpu,
#memory,
#clock
{
    padding: 0 8px;
    margin-left: 4px;
    color: @color_fg;
    background: @color_lt;
}

#clock.time {
    color: @color_bg;
    background: @color_hl;
}

