!--URxvt----------------------------------------------

URxvt.font: xft:Misc Tamsyn:style=Regular:pixelsize=16
URxvt.boldFont: xft:Misc Tamsyn:style=Regular:pixelsize=16
!URxvt.font: xft:Hack:size=10
URxvt.scrollBar: false
URxvt.internalBorder: 20
URxvt.geometry: 100x24
URxvt.depth: 0
URxvt.intensityStyles: false
URxvt.saveLines: 4096
URxvt.keysym.Meta-k: command:\033]720;5\007
URxvt.keysym.Meta-j: command:\033]721;5\007

!--Xterm----------------------------------------------

xterm*font: -misc-tamsyn-medium-r-normal--16-116-100-100-c-80-iso8859-1

!--Fonts---------------------------------------------

Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 96

!--Colors-------------------------------------------

! hard contrast: *background: #1d2021
! med  contrast: *background: #282828
! soft contrast: *background: #32302f

*background: #282828
*foreground: #ebdbb2

! Black + DarkGrey
*color0:  #282828
*color8:  #928374

! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934

! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26

! DarkYellow + Yellow
*color3:  #d79921
!*color3:  #fe8019
*color11: #fabd2f

! DarkBlue + Blue
*color4:  #458588
*color12: #83a598

! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b

! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c

! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
